<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="gaoing<1422298566@qq.com">
<title>Gaoing|首页</title>
<link rel="stylesheet" href="./../../public/layui/css/layui.css">
<link rel="stylesheet" href="./../css/animation.css">
<link rel="stylesheet" href="./../css/icon/iconfont.css">
<link rel="stylesheet" href="./../css/index.css">
</head>
<body>
  <div class="section section-a">
    <div class="info">
      <img class="info-logo animated bounceInDown" src="./../../public/images/6.jpg" alt="">
      <p class="info-text"><span class="animated bounceInLeft">爱生活</span> · <span class="animated bounceInRight">爱分享</span></p>
      <h1 class="info-name animated bounceInUp">Gaoing</h1>
    </div>
  </div>
  <div class="section section-b donghua">
    <h2>生 · 活</h2>
    <div class="section-list">
      <div class="section-item">
        <div class="section-mask">
          <h3>影视</h3>
        </div>
        <a href="javascript:;">
          <img class="section-item-logo" src="./../../public/images/dianying1.jpg" alt="影视">
        </a>
      </div>
      <div class="section-item">
        <div class="section-mask">
          <h3>音乐</h3>
        </div>
        <a href="javascript:;">
          <img class="section-item-logo" src="./../../public/images/yinyue.jpg" alt="音乐">
        </a>
      </div>
      <div class="section-item">
        <div class="section-mask">
          <h3>运动</h3>
        </div>
        <a href="javascript:;">
          <img class="section-item-logo" src="./../../public/images/yundong.jpg" alt="运动">
        </a>
      </div>
      <div class="section-item">
        <div class="section-mask">
          <h3>书法</h3>
        </div>
        <a href="javascript:;">
          <img class="section-item-logo" src="./../../public/images/shufa.jpg" alt="书法">
        </a>
      </div>
      <div class="section-item">
        <div class="section-mask">
          <h3>美食</h3>
        </div>
        <a href="javascript:;">
          <img class="section-item-logo" src="./../../public/images/meishi.jpg" alt="美食">
        </a>
      </div>
      <div class="section-item">
        <div class="section-mask">
          <h3>游戏</h3>
        </div>
        <a href="javascript:;">
          <img class="section-item-logo" src="./../../public/images/youxi.jpg" alt="游戏">
        </a>
      </div>
      <div class="section-item">
        <div class="section-mask">
          <h3>写作</h3>
        </div>
        <a href="javascript:;">
          <img class="section-item-logo" src="./../../public/images/xiezuo.jpg" alt="写作">
        </a>
      </div>
      <div class="section-item">
        <div class="section-mask">
          <h3>旅游</h3>
        </div>
        <a href="javascript:;">
          <img class="section-item-logo" src="./../../public/images/lvyou.jpg" alt="旅游">
        </a>
      </div>
    </div>
  </div>
  <div class="section section-c">
    <h2>分 · 享</h2>
    <ul class="banner">
      <li class="banner-item active">
        <h3 class="title">黑客牛人</h3>
        <img src="./../../public/images/heike.jpg" alt="">
        <a class="junp" href="javascript:;">进入>></a>
      </li>
      <li class="banner-item">
        <h3 class="title">兴趣盘点</h3>
        <img src="./../../public/images/hexi.png" alt="">
        <a class="junp" href="javascript:;">进入>></a>
      </li>
      <li class="banner-item">
        <h3 class="title">商业大佬</h3>
        <img src="./../../public/images/shangyedalao.jpg" alt="">
        <a class="junp" href="javascript:;">进入>></a>
      </li>
      <li class="banner-item">
        <h3 class="title">时政看点</h3>
        <img src="./../../public/images/xidada.jpg" alt="">
        <a class="junp" href="javascript:;">进入>></a>
      </li>
      <li class="banner-item">
        <h3 class="title">生活品质</h3>
        <img src="./../../public/images/shenghuopinzhi.jpg" alt="">
        <a class="junp" href="javascript:;">进入>></a>
      </li>
      <li class="banner-item">
        <h3 class="title">技术文章</h3>
        <img src="./../../public/images/wenzhang.jpg" alt="">
        <a class="junp" href="javascript:;">进入>></a>
      </li>
    </ul>
  </div>
  <footer class="foot">
    <div class="foot-list">
      <div class="foot-item">
        <h3>Gaoing</h3>
        <p class="foot-text"><a href="javascript:;"><i class="icon iconfont gao-icon-qianming"></i> 生活在于认真，技术在于分享</a></p>
        <p class="foot-text"><a href="javascript:;"><i class="icon iconfont gao-icon-guanyuwo"></i> About Me</a></p>
        <p class="foot-text"><a href="javascript:;"><i class="icon iconfont gao-icon-guanli"></i> Background Management</a></p>
      </div>
      <div class="foot-item">
        <h3>本站链接</h3>
        <p class="foot-text"><a href="javascript:;"><i class="icon iconfont gao-icon-wenzhangfenxiang"></i> 博客</a></p>
        <p class="foot-text"><a href="javascript:;"><i class="icon iconfont gao-icon-cb-chengchangriji"></i> 日记</a></p>
        <p class="foot-text"><a href="javascript:;"><i class="icon iconfont gao-icon-aiqingyulangman-"></i> 甜心</a></p>
        <p class="foot-text"><a href="javascript:;"><i class="icon iconfont gao-icon-liuyan"></i> 对我说</a></p>
        <p class="foot-text"><a href="javascript:;"><i class="icon iconfont gao-icon-youqinglianjie"></i> 友情链接</a></p>
      </div>
      <div class="foot-item">
        <h3>@我</h3>
        <p class="foot-text"><i class="icon iconfont gao-icon-dizhi"></i> 地址：古都西安</p>
        <p class="foot-text"><i class="icon iconfont gao-icon-youxiang"></i> 邮箱：1422298566@qq.com</p>
        <p class="foot-text"></p>
      </div>
    </div>
    <div class="footer">
      <p class="footer-text">Copyright &copy; 2016-2019 Gaoing All Right Reserved 互联网ICP备案：<a href="javascript:;">陕ICP备19008769号-1</a> </p>
    </div>
  </footer>
</body>
<script src="./../../public/layui/layui.js"></script>
<script src="./../js/boxhover.js"></script>
<script type="text/javascript">
  layui.use(['jquery'], function() {
    var $ = layui.jquery;
    boxhover($);
    $('.section-item').boxhovermodal('.section-mask');
    $('.banner-item').on('mouseover', function() {
      $(this).addClass('active').siblings().removeClass('active');
    });
  });
</script>
</html>