<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="gaoing<1422298566@qq.com">
<title>Gaoing|空间站</title>
<link rel="stylesheet" href="./../../public/layui/css/layui.css">
<link rel="stylesheet" href="./../css/animation.css">
<link rel="stylesheet" href="./../css/icon/iconfont.css">
<link rel="stylesheet" href="./../css/style.css">
<link rel="stylesheet" href="./../css/space.css">
</head>
<body>
  <div class="bg"></div>
  <div class="layui-header">
    <div class="me">
      <img src="./../../public/images/gaoing.png" alt="" class="me-logo">
    </div>
    <div id="user" class="user active">
      <img src="./../../public/images/1.jpg" alt="" class="user-logo">
    </div>
    <div id="ismenu" class="menu-icon">
      <img src="./../../public/images/menu.png" alt="" class="user-logo">
    </div>
    <ul class="menu-list">
      <li class="menu-item">
        <a href="./index.html">首页</a>
      </li>
      <li class="menu-item">
        <a href="./boke.html">博客</a>
      </li>
      <li class="menu-item">
        <a href="./sweet.html">甜心</a>
      </li>
      <li class="menu-item">
        <a class="active" href="javascript:;">空间站</a>
      </li>
      <li class="menu-item">
        <a href="./massage.html">对我说</a>
      </li>
      <li class="menu-item">
        <a href="./friends.html">友情链接</a>
      </li> 
      <li class="menu-item">
        <a href="./aboutme.html">关于我</a>
      </li>
    </ul>
  </div>
  <div class="wrap">
    <div class="cord-list">
      <div class="cord-item">
        <h3>生活小事件</h3>
        <div class="cord-item-content">
          内容
        </div>
      </div>
    </div>
  </div>
</body>
</html>