.section{
  position: relative;
  overflow: hidden;
}
.section-a{
  min-height: 100vh;
  background-image: url(./../../public/images/5.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.section-b{
  min-height: 100vh;
  background-image: url(./../../public/images/3.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.section-c{
  min-height: 100vh;
  background-image: url(./../../public/images/9.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.info{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.info .info-logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #27cfa594;
  transition: 1s;
}
.info .info-name{
  font-size: 60px;
  color: #ffffff;
}
.info .info-text{
  font-size: 30px;
  color: #ffffff;
  margin: 20px;
}
span{
  display: inline-block;
}
a{
  color: #999999;
}
.section h2{
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
.section-list{
  display: flex;
  justify-content: space-around;
  flex-flow:row wrap;
}
.section-item{
  position: relative;
  width: 300px;
  overflow: hidden;
  margin-bottom: 25px;
}
.section-item .section-item-logo{
  width: 300px;
  height: 220px;
  opacity: 0.8;
}
.section-item .section-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255,255,255);
  overflow: hidden;
  color: #ffffff;
}
.section-item .section-mask h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #000000;
  text-align: center; 
}
.banner{
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}
.banner .banner-item{
  position: relative;
  overflow: hidden;
  width: 80px;
  display: inline-block;
  box-shadow: 0 0 2px 2px #f9fcfb94;
  vertical-align: middle;
  cursor: pointer;
  transition: width .2s linear 0s
}
.banner .banner-item.active{
  width: 500px;
}
.banner .banner-item h3{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  width: 80px;
  height: 100%;
  line-height: 80px;
  padding-top:30px;
  text-align: left;
  background-color: rgba(0, 0, 0, .5);
  writing-mode: vertical-lr;
}
.banner .banner-item img{
  width: 500px;
  height: 300px;
}
.junp{
  font-size: 20px;
  position: absolute;
  top: 130px;
  left: 240px;
  font-weight: 700;
  color: #ffffff;
  opacity: .6;
}
.foot{
  min-height: 300px;
  background-color: #000000;
  color: #ffffff;
}
.foot .foot-list{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-top: 50px;
}
.foot .foot-list .foot-item{
  width: 300px;
  margin-bottom: 20px;
}
.foot .foot-list .foot-item h3{
  font-size: 35px;
}
.foot .foot-list .foot-item .foot-text{
  margin: 10px 0;
  color: #999999;
}
.footer{
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999999;
  background-color: #333333;
}
.icon{
  display: inline-block;
  color: #ffffff;
  margin-right: 10px;
}
@media screen and (min-width: 500px) and (max-width: 900px){
  .foot .foot-list .foot-item{
    width: 200px;
  }
}
@media screen and (max-width: 960px){
  .banner{
    margin-top: 0;
    margin-bottom: 20px; 
  }
  .junp{
    left: 225px;
  }
  .banner .banner-item{
    width: 500px;
    height:80px;
    transition: height .2s linear 0s
  }
  .banner .banner-item.active{
    height: 300px;
  }
  .banner .banner-item h3{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
    padding-top: 0;
    background-color: rgba(0, 0, 0, .5);
    writing-mode: initial;
    text-align: left;
  }
}
@media screen and (max-width: 550px){
  .banner .banner-item{
    width: 300px;
  }
  .junp{
    left: 120px;
  }
  .banner .banner-item.active{
    width: 300px;
    height: 300px;
  }
}